@import "tailwindcss";

/* Hide the Google Translate Top Bar */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
} 
body {
    top: 0px !important; 
}

/* Style the Dropdown slightly */
#google_translate_element select {
    background: transparent;
    color: #374151;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: 600;
}

/* Hide the "Powered by Google" branding if desired (Optional) */
.goog-logo-link {
    display: none !important;
}
.goog-te-gadget {
    color: transparent !important;
}